/* Footer Styles */
.footer {
  background-color: #3a345b;
  color: white;
  padding: 40px 16px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.footer .left-section {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  
}

.footer .logo {
  margin-bottom: 20px;
  width: 90px;
}

.footer .footer-links {
  display: flex;
  gap: 24px;
}

.footer .footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .footer-links a:hover {
  color: #d183a9;
}


.footer .newsletter {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .newsletter-input {
  display: flex;
  gap: 8px;
}

.footer .newsletter input {
  flex: 1;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.footer .newsletter button {
  background-color: #d183a9;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.footer .newsletter button:hover {
  background-color: #71557a;
}

.footer .border-top {
  border-top: 1px solid #4b1535;
  padding-top: 24px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.footer .privacy-links {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style-type: none;
}

.footer .privacy-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .privacy-links a:hover {
  color: #d183a9;
}

.footer .social-icons {
  display: flex;
  gap: 24px;
}

.footer .social-icons a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #d183a9;
}

@media (max-width: 768px) {
  .footer .container {
      flex-direction: column;
  }

  .footer .border-top {
      flex-direction: column;
      align-items: flex-start;
  }
}
